*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html, body{ 
    width:100%;
    height: 100%;
/*! text-align: center; */
display: flex;
}
body {display: flex;
border:2px solid red;
}

section#root{
    flex: 1;
    display: flex;
    flex-direction: column;
    /*! padding: 1em; */
    border:2px solid blue;
    overflow: auto;

}
header, footer {
flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #004047;
   
color: whitesmoke;
font-size: 1.2em;
}
p#copyright{
 font-weight: 900;
    font-size: 0.8em;
 background: wheat;
 color: black;
 border-radius: 5px;
 padding: 3px;
}
p#copyright span{
    background: yellow;
    border-radius: 5px;
    padding :3px;
    color:black;
}
section#main{
    flex: 7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*! align-items: center; */
    background-color:#BEE5BF; 
    padding: 1em;
    gap: 0.5em;
    overflow:hidden;
}
section#navigation{
    flex:1;
    display: flex;
    justify-content: space-evenly;
    background: #DFF3E3;
    /*! color: white; */
    padding: 1em;
}
section#navigation button {background-color: #5707cc;padding: 0.5em;color: white;}
section#left-column, section#right-column{
    flex: 3;
    display: flex;
    flex-direction: column;;
    background-color: azure;
    padding: 1em;
    border-radius: 1em;
    border:1px dotted blue;
    text-align: center;
} 
section#main-column{
    flex: 7;
    padding: 1em;
    display: flex;
    background: red;
    flex-direction: column;
    border:2px solid red;
    gap: 1em;
    border-radius: 1em;
}

#main-column > h1 {
    font-size: 2em;
    color: white;
    text-align: center;
}

#header{
    display:flex;
    flex: 1;
    flex-direction: row;
}

#header > header{
    flex-direction: row;
}

#header > header > *{
    flex: 1;
}

span#like{
    background-image: url("../icons/like.PNG");
}
span#unlike{
    background-image: url("../icons/unlike.PNG");
}

/* ----------------------------- */

section#list-tasks{
    flex: 1;
    display: flex;
    flex-direction: column;
    border:2px solid red;
    gap:0.5em;
    overflow: auto;
}
section.task-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #CEE2D2;
    padding: 1em;
    border-radius: 1em;
    gap: 0.5em;
    /*! color: white;; */;
} 

section.task-row{
    background: whitesmoke;
    /* flex: 3; */
    display: flex;
    /* overflow: auto; */
    /*! height: 20em; */
    /*! color: white; */
    /*! justify-content: ; */
    /* align-items: center; */
    justify-content: space-between;
    padding: 0.5em;
}
section.task-name, .task-date, .task-text, .task-likes, .task-dislikes, .task-flags, .task-del{
    border:0px solid maroon;
    /*! padding: 0.5em; */
    display: flex;
    flex-direction: column;
    /*! gap:0.2em; */
    justify-content: space-evenly;  
    align-items: center; 
}
.task-likes, .task-dislikes, .task-flags, .task-del{
    flex-direction: row;
    flex:1;
    border: gray 1px dotted;
    margin-left: 1em;
}
.task-text{
    flex:6;
    border: gray 1px dotted;
}
.imgContainer{
    display:flex;
    flex-direction: row;
}
img{
    max-height: 1.5em;
}

/* //------------------------- */

/* ----------------- */
table {border:0px dotted blue}
th{background: darkcyan; color: white}
th:hover{cursor: pointer}
td {border:2px solid darkblue; text-align: center}

tr:nth-child(n+1) {background-color: lightcyan;}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: start;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 3px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  